{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}  
    
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Navy</title>
</head>

<body>

    <header class=" text-black text-center py-2">
        <h1>Data Navy</h1>
        <p class="lead">Transformando datos en conocimiento.</p>
    </header>

    <div class="container mt-2">
        <div class="row">
            <div class="col-md-6">
                <h2>Nuestra Historia</h2>
                <p>Somos una empresa dedicada al análisis de datos con una sólida trayectoria en el sector. Desde nuestro inicio, nos hemos comprometido a proporcionar soluciones analíticas de vanguardia para empresas de todos los tamaños.</p>
                <p>Con un equipo de expertos en análisis de datos y tecnologías avanzadas, hemos ayudado a nuestros clientes a tomar decisiones informadas y a optimizar sus operaciones.</p>
            </div>
            <div class="col-md-6">
                <h2>Nuestra Misión</h2>
                <p>Nuestra misión es brindar insights significativos a través del análisis de datos, permitiendo a las empresas tomar decisiones estratégicas y mejorar su rendimiento. Estamos comprometidos con la excelencia y la innovación en todo lo que hacemos.</p>
            </div>
        </div>
    </div>
<br>
<br>
<br>
<br>
<br>
    <footer class="text-black text-center py-2 mt-5">
        <p>&copy; 2023 Data Navy</p>
    </footer>

</body>
</html>

{% endblock %}